page-home {
    .mensaje{
        text-align: center;
        font-size: 12px;
    }

    .simbolo{
        text-align:center; 
        font-size: 21px;
    }

    .numero{
        font-size: 18px;
    }

    .botonCal{
        width: 20%;
        height: 64px;
        font-size: 24px;
    }

    .flexCont{
        display: flex;
    }

}

ion-input {
    input {
      text-align: center;
      ::-webkit-input-placeholder {
        text-align: right;
      }
    }
  }

.seleccionado{
    border: 1px solid blueviolet;
}
