<ion-header>
  <ion-navbar color="dark">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{accion.nombre}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <p *ngIf="!accion.nombre" class="mensaje">Selecciona una operación del menu</p>

  <div *ngFor="let e of entradas; let i = index" style="text-align: right;">

    <div class="flexcont" id="conte{{e.entrada}}" >
      <span *ngIf="i == 1" class="simbolo"> 
        <span [ngSwitch]="accion.valor">
          <p *ngSwitchCase="'/'">
            ÷
          </p>
          <p *ngSwitchCase="'*'">
            x
          </p>
          <p *ngSwitchDefault>
            {{accion.valor}}
          </p>
          </span>
      </span>

      <span *ngIf="i == 2" class="simbolo">
        <p> = </p>
      </span>

      <ion-item>
        <ion-input (ionFocus)="getFocus(e.entrada)"
        style="text-align: right;padding-right: 10px;" 
        value="{{e.digito}}">
        </ion-input>
      </ion-item>
    </div>
    
  </div>

  <div *ngFor="let num of numeros" style="text-align: center">
    <button 
    ion-button 
    *ngFor="let n of num" 
    class="botonCal" 
    (click)="botonPresionado(n)"
    color="light"
    round>
      {{n}}
    </button>
  </div>

  
  <button *ngIf="accion.nombre"
    ion-button 
    block 
    large 
    style="background-color: #3789e7;"> 
    Resultado 
  </button>
  
  <!-- <button ion-button secondary menuToggle>Toggle Menu</button> -->
</ion-content>
